.banner {
    justify-content: center;
    height: 90vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .overlay {
    opacity: 0.6;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner.section .btn {
    margin-top: 20px;
}

.banner .divider {
    width: 30%;
    background-color: var(--white);
    margin: 10px auto;
}

.banner .large {
    font-size: 32px;
    font-weight: 700;
}

.banner h1,
.banner p {
    text-align: center;
}

.dots {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dots .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary);
    opacity: 0.4;
    transition: var(--transition);
}

.dots .dot:hover {
    cursor: pointer;
}

.dots .dot.active {
    opacity: 1;
    transition: var(--transition);
}

.reviews.section .row .review-wrapper {
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

.reviews.section .row .review-wrapper .review-author {
    color: var(--primary);
    font-weight: 700;
}

.review .review-wrapper {
    width: 100%;
    align-items: center;
    gap: 60px;
    margin-top: 40px;
}

.review .review-wrapper .item .quote {
    font-weight: 700;
    font-size: 32px;
}

.review .review-wrapper .item .author {
    opacity: 0.7;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
}

.review .review-wrapper .item a {
    color: var(--white);
    font-weight: 400;
}

.reviews.section h2,
.reviews.section p {
    text-align: center;
    width: 60%;
}

.reviews.section .review-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.reviews.section .review-toggle {
    transition: var(--transition);
}

.reviews.section .review-toggle:hover {
    cursor: pointer;
}

.reviews.section .review-toggle.active {
    background-color: var(--white);
    border-radius: 50%;
    transition: var(--transition);
}

.gallery .wrapper.gallery-wrapper {
    gap: 40px;
}

.gallery .wrapper.gallery-wrapper .item {
    flex: 1 0 25%;
}

.gallery .wrapper.gallery-wrapper .item img {
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
}

@media (max-width: 560px) {
    .banner.section,
    .banner.section .row {
        height: 50vh;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }

    .banner .large {
        font-size: 18px;
    }

    .form-wrapper {
        padding: 0;
    }
}